* {
  font-size: 0.85rem;
  box-sizing: border-box;
}
.router-wrapper {
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.145),
    rgba(255, 255, 0, 0.164)
  );
  height: fit-content;
}
.home-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  text-decoration: none;
}
.student-list-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 20px;
  margin: 10px;
}
.link_list {
  text-decoration: none;
}

.checkBoxes {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 10px;
  margin: 10px;
}
.student-checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.sort-list {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 16px;
}

.alert {
  margin-bottom: 0 !important;
}
.sort-buttons {
  display: flex;
}
